@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header .head {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 600px;
  width: 300px;
  border: solid #3876bf 2px;
  border-radius: 20px;
  overflow: hidden;
}

.header .head .title {
  height: 15%;
  width: 100%;
  background-color: #3876bf;
  text-align: start;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.header .head .title h4 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-left: 10px;
  margin-bottom: 0;
  margin-right: 0;
}

.header .head .title p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-left: 11px;
}

.header .head .input-Text-Wrap {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #3876bf;
}

.header .head .input-Text-Wrap .text-Input {
  background-color: #0c356a;
  color: white;
  font-family: "Roboto", sans-serif;
  outline: none;
  padding: 8px 40px;
  border-radius: 2rem;
  border: solid #6499e9 2px;
}

.header .head .input-Text-Wrap .text-Input::placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}

.header .head .users-Wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: start;
  width: 100%;
  height: 80%;
  overflow: auto;
  flex-wrap: wrap;
}

.header .head .users-Wrapper .profile-Card {
  display: flex;
  text-align: start;
  align-items: center;
  height: 20%;
  margin-top: 5px;
  width: 100%;
  border: solid #8eaccd 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
  gap: 7px;
  overflow: hidden;
}

.header .head .users-Wrapper .profile-Card .profile-Img {
  height: 90px;
  border-radius: 50%;
  width: 30%;
  margin-right: 5px;
  margin-left: 5px;
}

.header .head .users-Wrapper .profile-Card .info-Wrap {
  width: 70%;
  height: 100%;
  text-align: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header .head .users-Wrapper .profile-Card .info-Wrap h3 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header .head .users-Wrapper .profile-Card .info-Wrap p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
