@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Silkscreen", sans-serif;

$colorOne: #3876bf;
$colorTwo: #0c356a;
$colorThree: #6499e9;
$colorFour: #8eaccd;

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .head {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 600px;
    width: 300px;
    border: solid $colorOne 2px;
    border-radius: 20px;
    overflow: hidden;

    .title {
      height: 15%;
      width: 100%;
      background-color: $colorOne;
      text-align: start;
      border-radius: 5px 5px 0 0;
      overflow: hidden;

      h4 {
        font-size: 25px;
        font-family: $fontOne;
        color: white;
        margin-left: 10px;
        margin-bottom: 0;
        margin-right: 0;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-family: $fontOne;
        color: white;
        margin-left: 11px;
      }
    }

    .input-Text-Wrap {
      height: 10%;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: $colorOne;

      .text-Input {
        background-color: $colorTwo;
        color: white;
        font-family: $fontOne;
        outline: none;
        padding: 8px 40px;
        border-radius: 2rem;
        border: solid $colorThree 2px;
      }

      .text-Input::placeholder {
        color: white;
        font-family: $fontOne;
      }
    }

    .users-Wrapper {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: start;
      width: 100%;
      height: 80%;
      overflow: auto;
      flex-wrap: wrap;

      .profile-Card {
        display: flex;
        text-align: start;
        align-items: center;
        height: 20%;
        margin-top: 5px;
        width: 100%;
        border: solid $colorFour 2px;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 5px;
        gap: 7px;
        overflow: hidden;

        .profile-Img {
          height: 90px;
          border-radius: 50%;
          width: 30%;
          margin-right: 5px;
          margin-left: 5px;
        }

        .info-Wrap {
          width: 70%;
          height: 100%;
          text-align: center;
          align-items: start;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;

          h3 {
            padding: 0;
            margin: 0;
            font-family: $fontOne;
          }

          p {
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-family: $fontOne;
          }
        }
      }
    }
  }
}
